{% extends 'index.html' %}

{% block page-container %}
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox">
            <div class="ibox-content">
                <div class="pull-right">
                    <button class="btn btn-white btn-xs" type="button">Model</button>
                    <button class="btn btn-white btn-xs" type="button">Publishing</button>
                    <button class="btn btn-white btn-xs" type="button">Modern</button>
                </div>
                <div class="text-center article-title">
                    <span class="text-muted"><i class="fa fa-clock-o"></i> {{ article_obj.publish_date|date:"Y-m-d H:i" }}</span>
                    <h1>
                        {{ article_obj.title }}
                    </h1>
                </div>
                <p>{{ article_obj.content|safe }}</p>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Tags:</h5>
                        <button class="btn btn-primary btn-xs" type="button">Model</button>
                        <button class="btn btn-white btn-xs" type="button">Publishing</button>
                    </div>
                    <div class="col-md-6">
                        <div class="small text-right">
                            <h5>Stats:</h5>
                            <div> <i class="fa fa-comments-o"> </i> {{ article_obj.comment_set.select_related.count }} 评论 </div>
                            <i class="fa fa-eye"> </i> {{ article_obj.views }} 阅读 <br>
                            <span class="glyphicon glyphicon-thumbs-up"></span> {{ article_obj.thumbup_set.select_related.count }} 赞
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4></h4>
    <p></p>

{% endblock %}