{% extends 'index.html' %}

{% block head-js %}
    <script src="/static/ckeditor/ckeditor.js"></script>
{% endblock %}


{% block page-container %}

   <div class="wrapper wrapper-content col-md-8">
        {% if new_article_obj %}
            <h4>文章{{ new_article_obj.title }}已发布。<a href="{% url 'article_ditail' new_article_obj.id %}">点我查看</a></h4>
        {% else %}
            <form enctype="multipart/form-data" method="post" action="{% url 'new_article' %}">{% csrf_token %}
              <div class="form-group">
                <label for="exampleInputText">文章标题</label>
                <input type="text" class="form-control" name="title" placeholder="请输入文章标题">
              </div>
                <div class="form-group">
                   <label for="exampleInputText">版块</label>
                   <select class="form-control" name="category_id">
                       {% for category in category_list %}
                          <option value="{{ category.id }}">{{ category.name }}</option>
                       {% endfor %}
                   </select>
               </div>
{#            文章概述在Models里自动摘取#}
{#              <div class="form-group">#}
{#                <label for="exampleInputText">文章概述</label>#}
{#                <input type="text" class="form-control" name="summary" placeholder="请输入文章概述">#}
{#              </div>#}
              <div class="form-group">
                <label for="exampleInputFile">文章标题图片</label>
                <input type="file" id="exampleInputFile" name="head_img">
              </div>
              <div class="form-group">
                  <label for="exampleInputText">文章内容</label>
                  <textarea name="content" id="editor1" rows="10" cols="80"></textarea>
              </div>
              <button type="submit" class="btn btn-default pull-right">发贴</button>
            </form>
        {% endif %}
   </div>
{% endblock %}

{% block bottom-js %}
    <!--CKEditor-->
    <script>
        CKEDITOR.replace( 'editor1' );
    </script>
{% endblock %}